<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="../../public/css.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>CTVET</title>
</head>
<body style="font-family: 'Roboto', sans-serif;" class="bg-gray-100">

    <div class="w-80 mx-auto my-20 bg-white shadow-lg rounded-xl p-5">
        <p class="text-center text-lg">CSI <span class="font-bold textColor">ADMIN</span></p>
        <p class="text-xl text-center">LOGIN</p>
        <form action="" class="space-y-1 font-bold">
           
            <div class="mt-4">
                <label  for="login_name">Account name</label>
                <input  type="text" name="account_name" placeholder="Enter Account name" class="focus:outline-none focus:bg-sky-100 bg-gray-100 w-full text-sm font-thin md:px-8 p-4">
            </div>

            <div class="pt-4">
                <label for="password ">Password </label>
                <input  type="text" name="password" id="password" placeholder="Enter valid password" class="focus:outline-none focus:bg-sky-100 bg-gray-100 w-full text-sm font-thin md:px-8 p-4">
            </div>
           
                   

            <p class="text-center p-2"><button type="submit" class="font-bold p-3 rounded text-white defaultBtn">LOGIN</button></p>
        </form>
        <!-- <a href="#" class="text-center block text-green-700  font-bold hover:text-green-900">CTVET homepage</a> -->
    </div>
    
</body>
</html>